extends layout 

block pageTitle
  title Ово је наслов странице

block greeting
  h1 Здраво свете!

block softwareEngineer
  p Ускоро ћу бити софтверски инжењер!
  img(src="/images/earth.jpg" alt="Планета Земља" title="Планета Земља")
