extends layout

block pageTitle
  title Hola Mundo! 

block greeting
  h1 Hola Mundo!

block softwareEngineer
  p Pronto seré ingeniero de software!
  img(src="/images/earth.jpg" alt="La tierra" title="La tierra")