doctype html
html
  head
    title Hello World!
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/stylesheets/application.css")
  body
    header
      h1 Hello World!
    main
      p I am going to be a software engineer soon!
      img(src="/images/earth.jpg" alt="The Earth" title="The Earth")