doctype html
html(lang="en")
  head
    block pageTitle
      title This is the page title
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/stylesheets/application.css")
  body
    block navigationLinks
    header
      block greeting
        h1 Hello World!
    main
      block softwareEngineer
